[submodule "yocto/meta-raspberrypi"]
	path = yocto/meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
[submodule "yocto/poky"]
	path = yocto/poky
	url = https://git.yoctoproject.org/git/poky
